
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    @* Yaratılan html <form> taginin action ı otomatik olarak home/employeeform a post olacak şekilde otomatik atanır*@
    @* BeginForm içine (action,controller) şeklinde parametre vererek action ı değiştirebiliyoruz (home/Index10) *@
    @using (Html.BeginForm("Index10","Home"))
    {
        <b>Key : </b>
        @* Textbox ın içine verilen değer ile Index10 actionının aldğı parametre aynı !! *@
        @Html.TextBox("key");
        <input type="submit" value="search"/>
    }
</body>
</html>
